@media screen and (max-width: 660px), only screen and (max-device-width : 660px) {

	.logo {
	width: 100px !important;
	height: 100px !important;
	margin-left: -50px !important;
	left: 50% !important;
	position: absolute !important;
	top: -15px !important;
	z-index: 10 !important;
	}
	
	.zgolovorleft {
	padding-top: 20px;
	}
	
	.zgolovorright {
	padding-top: 20px;
	text-align: left;
	}

	
	.sliderbtns {
	bottom: 400px !important;
	left: 50px !important;
	}

.maipttee {
width: 280px !important;
height: auto !important;
}

.sliderform input[type="text"] {
width: 260px !important;
}

/* Выпадающие списки на мобильных */
.meinputer {
	width: 100% !important;
	max-width: 250px !important;
	margin: 5px auto !important;
	display: block !important;
}

.madiv {
	cursor: pointer !important;
}

.btmmearrow {
	cursor: pointer !important;
}


.shirina {
	position: relative; /* чтобы .modilebtn позиционировалась относительно этого блока */
  }
  
  .modilebtn {
	position: absolute;
	top: 10px;      /* отступ сверху — подгони под дизайн */
	right: 10px;    /* справа */
	width: 40px;
	height: 40px;
	background-image: url('./img/mmenu.png');
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1000;  /* над меню */
  }
	
	.detalinlines {
	width: 320px;
	}
	
	.modalwindow  {
	width: 280px;
	margin-left: -170px;
	}

	.actionperekl  {
		transform: translate(0%);
		position: static;
		left: auto;
		top: auto;
		}

	.menu {
		display: none;
		position: fixed;
		top: 63px;
		right: 0px;
		background: rgba(0,0,0,0.7);
		background-color: rgba(0,0,0,0.7);
		width: 200px;
		transition: all 0.3s ease-out 0.3s;
		}
	
	.filtersblock input[type="text"] {
	width: 260px;
	margin: 20px 10px;
	}
	
		.menu li {
		display: block;
		padding: 20px 10px 20px 20px;
		}
	
		.relhead {
		height: 60px;
		}
		
		.modilebtn {
		display: block;
		}

	.mobilefix {
	background-color: black;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 70;
	}

	.menu a:nth-child(3) li, .menu a:nth-child(4) li {
	margin: 0px !important;
	}

	.slider {
	height: 800px;
	}

	.titlephon {
	width: 340px;
	height: 300px;
	}

	.sliderform {
	text-align: center;
bottom: 10px;
	}

	.aboutblock {
	background-position: center top !important;
	background-size: 100% auto !important;
	width: 340px !important;
	height: auto !important;
	min-height: 600px !important;
	overflow: visible !important;
	position: relative !important;
	padding: 0 !important;
	}
	
	.sssskartins {
	width: 340px !important;
	height: 300px !important;
	position: relative !important;
	left: auto !important;
	top: auto !important;
	display: block !important;
	margin: 0 auto !important;
	aspect-ratio: auto !important;
	}
	
	.abouttext {
	transform: translate(0,0) !important;
	width: 300px !important;
	margin: 20px auto !important;
	left: auto !important;
	right: auto !important;
	top: auto !important;
	position: relative !important;
	padding: 20px 15px !important;
	text-align: left !important;
	}
	
	.aboutblock1 {
	background-position: center top !important;
	background-size: 100% auto !important;
	width: 340px !important;
	padding: 180px 0px 0px 0px !important;
	}
	
	.abouttext1 {
	transform: translate(0,0) !important;
	width: 300px !important;
	/*margin-left: -160px;
	left: 50%;*/
	top: 200px !important;
	margin: 0px auto !important;
	position: static !important;
	text-align: left !important;
	}
	
	.leftcolonka {
	padding: 10px;
	width: 300px !important;
	}
	
	.righcolonka{
	width: 320px !important;
	}
	
	.foterinline {
	width: 320px;
	padding: 10px;
	}
}	
